:host{
  min-height: 76px;
  display: grid;
  grid-template-columns: 1fr;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
}
select{
  margin-right: 20px;
  padding: 5px;
}
@media (min-width: 510px) {
  :host{
    grid-template-columns: 1fr auto 1fr;
  }
  .right{
    justify-content: flex-end;
  }
}

:host.top{
  grid-template-columns: 1fr !important;
  .right{
    justify-content: center !important
  }
}
