


@keyframes growbg {
  from{
    background-size: 0;
  }
  to{
    background-size: 60%;
  }
}



.reds-turn .area.active .field:not(.occupied):hover {
  background-color: rgba(224, 17, 57, 0.27) !important;
}

.blues-turn .area.active .field:not(.occupied):hover {
  background-color: rgba(60, 107, 208, 0.27) !important;
}

.area.active .field:not(.occupied){
  background-color: #222;
}


