p{
  margin-left: 20px;
  text-align: left!important;
  margin-top: 10px;
  margin-bottom: 10px;
  &.info{
    text-align: right;
    font-size: .95em;
    font-weight: 411;
  }
}
b{
  margin-top: 10px;
  display: block;
  font-weight: 700;
}
