<h1>
  Tic Tac Thrones
</h1>
<p style="text-align: center">
  A reimagined version of the legendary tic tac toe game.
</p>

<div id="btn-cnt">
  <button routerLink="local-game">
    <span>Local Game</span>
    <img src="assets/play.svg" />
  </button>
  <button>
    <span>Private Room</span>
    <img src="assets/internet.svg" />
  </button>
</div>
<h2>How to play?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur explicabo officia quam veniam. Accusamus aspernatur dolorem eligendi labore perspiciatis placeat quaerat similique. Dolorum laboriosam minus nihil nulla porro, reprehenderit.</p>
