/* You can add global styles to this file, and also import other style files */

@import "themes/stylexo";

html, body {
  background-color: #222;
  margin: 0;

  font-family: 'Josefin Sans', Arial, sans-serif;

  height: 100%;
}

