/* You can add global styles to this file, and also import other style files */

@import "themes/stylexo2";

html, body {
  background-color: #222;
  margin: 0;

  font-family: 'Josefin Sans', Arial, sans-serif;

  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
