/* You can add global styles to this file, and also import other style files */

@import "themes/stylexo2";

html, body {
  background-color: #222;
  margin: 0;

  font-family: 'Josefin Sans', Arial, sans-serif;

  height: 100%;
}

:root {
  --unit: min(100vw, 800px);
  --inner-border-width: max(2px, calc(var(--unit) * 0.005));
  --outer-border-width: max(3px, calc(var(--unit) * 0.015));
  --outer-outer-border-width: max(9px, calc(var(--unit) * 0.045));
}

@media (min-aspect-ratio: 1/1) {
  :root {
    --unit: min(100vh, 800px);
  }
}
