<h1>About Us</h1>
<p>The creation of this game wouldn't be possible without these people:</p>
<about-person name="Zsombor Várkonyi">
  Tic Tac Thrones has two fathers because of equality. He is one of them.
</about-person>
<about-person name="Immeral Balázs Horváth">
  And he is the other one. Also, it turned out, that there was already an existing game out there called Ultimate
  tic-tac-toe with the exact same rules. So they are now half-twins, I guess.
</about-person>
<about-person name="Bence Hervay" website="https://johetajava.hu/cence">
  Bence coded Tic tac thrones the first time in p5js in less than an hour. He helped a lot in reviewing the final design
  of the game and was a continuous feedback source.
</about-person>
<about-person name="Ambrus Tóth" website="https://johetajava.hu" email="ambrus@johetajava.hu">
  Ambrus was just someone who found this game idea great, and wanted to take it to the next level. He completely
  redesigned the appearance, recoded the whole thing in Angular and designed a nice logo.
</about-person>
